.sentMessageContainer {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 8px;
}

.sentMessage {
  text-align: left;
  padding: 8px;
  font-family: "roboto", sans-serif;
  color: #fff;
  padding: 12px 24px;
  background: linear-gradient(90deg, rgba(29,120,234,1) 0%, rgba(24,83,202,1) 100%);
  border-radius: 36px;
  /* animations */
  animation: expand-bounce 0.25s ease-out 0s forwards;
  animation-delay: var(--delay);
}

.receivedMessageContainer {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 8px;
}

.receivedMessage {
  text-align: left;
  padding: 12px 24px;
  font-family: "roboto", sans-serif;
  color: #000;
  background: #eef2fb;
  border-radius: 36px;
  /* animations */
  animation: expand-bounce 0.25s ease-out 0s forwards;
  animation-delay: var(--delay);
}

.senderText {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 4px;
}

@keyframes expand-bounce {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
